<a href="https://colab.research.google.com/github/duonghieu7104/Trend-Analysis-Aviation-Industry-US/blob/main/notebook/Trend_Analysis_Aviation_Industry_US.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SETUP

In [4]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (0.3.12)
Requirement already satisfied: packaging in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: pyyaml in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (2024.2.2)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from tqdm->kagglehub) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import kagglehub
import pandas as pd

# Tải dataset về (sẽ trả về đường dẫn local)
path = kagglehub.dataset_download("bhavikjikadara/us-airline-flight-routes-and-fares-1993-2024")

print("Dataset downloaded to:", path)

Requirement already satisfied: kagglehub in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (0.3.12)
Requirement already satisfied: packaging in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: pyyaml in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kagglehub) (2024.2.2)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from tqdm->kagglehub) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Dataset downloaded to: C:\Users\LENOVO\.cache\kagglehub\datasets\bhavikjikadara\us-airline-flight-routes-and-fares-1993-2024\versions\1

In [6]:
df = pd.read_csv(path + "/US Airline Flight Routes and Fares 1993-2024.csv")
print(df.shape)
df.head()

(245955, 23)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23080\2605063033.py:1: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + "/US Airline Flight Routes and Fares 1993-2024.csv")

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,...,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,...,81.43,G4,1.0000,81.43,G4,1.0000,81.43,NaN,NaN,202131013514112ABEPIE
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,...,208.93,DL,0.4659,219.98,UA,0.1193,154.11,NaN,NaN,202131013515304ABETPA
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,...,184.56,WN,0.9968,184.44,WN,0.9968,184.44,NaN,NaN,202131014011259ABQDAL
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,...,182.64,AA,0.9774,183.09,AA,0.9774,183.09,NaN,NaN,202131014011298ABQDFW
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,...,177.11,WN,0.6061,184.49,AA,0.3939,165.77,NaN,NaN,202131014014107ABQPHX

# EDA

In [7]:
# Basic Data Overview
print("=== DATASET OVERVIEW ===")
print(f"Dataset shape: {df.shape}")
print(f"Number of rows: {df.shape[0]:,}")
print(f"Number of columns: {df.shape[1]}")
print("\n=== COLUMN INFORMATION ===")
print("Column names and data types:")
print(df.dtypes)
print(f"\nMemory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

=== DATASET OVERVIEW ===
Dataset shape: (245955, 23)
Number of rows: 245,955
Number of columns: 23

=== COLUMN INFORMATION ===
Column names and data types:
tbl                object
Year                int64
quarter             int64
citymarketid_1      int64
citymarketid_2      int64
city1              object
city2              object
airportid_1         int64
airportid_2         int64
airport_1          object
airport_2          object
nsmiles             int64
passengers          int64
fare              float64
carrier_lg         object
large_ms          float64
fare_lg           float64
carrier_low        object
lf_ms             float64
fare_low          float64
Geocoded_City1     object
Geocoded_City2     object
tbl1apk            object
dtype: object

Memory usage: 194.92 MB

In [8]:
# Missing Values Analysis
print("=== MISSING VALUES ANALYSIS ===")
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

missing_df = pd.DataFrame({
    'Column': missing_values.index,
    'Missing_Count': missing_values.values,
    'Missing_Percentage': missing_percentage.values
}).sort_values('Missing_Percentage', ascending=False)

print("Missing values by column:")
print(missing_df[missing_df['Missing_Count'] > 0])

print(f"\nTotal missing values: {df.isnull().sum().sum():,}")
print(f"Percentage of missing values: {(df.isnull().sum().sum() / (df.shape[0] * df.shape[1])) * 100:.2f}%")

=== MISSING VALUES ANALYSIS ===
Missing values by column:
            Column  Missing_Count  Missing_Percentage
21  Geocoded_City2          39206           15.940314
20  Geocoded_City1          39206           15.940314
19        fare_low           1612            0.655404
18           lf_ms           1612            0.655404
17     carrier_low           1612            0.655404
16         fare_lg           1540            0.626131
15        large_ms           1540            0.626131
14      carrier_lg           1540            0.626131

Total missing values: 87,868
Percentage of missing values: 1.55%

In [9]:
# Basic Statistics for Numerical Columns
print("=== BASIC STATISTICS ===")
print("Numerical columns summary:")
print(df.describe())

print("\n=== CATEGORICAL COLUMNS ===")
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns:")
for col in categorical_cols:
    unique_count = df[col].nunique()
    print(f"{col}: {unique_count} unique values")
    if unique_count <= 20:  # Show values if not too many
        print(f"  Values: {df[col].unique()}")
    print()

=== BASIC STATISTICS ===
Numerical columns summary:
                Year        quarter  citymarketid_1  citymarketid_2  \
count  245955.000000  245955.000000   245955.000000   245955.000000
mean     2008.524124       2.479153    31556.430201    32180.117086
std         8.703364       1.122149     1089.872880     1232.464184
min      1993.000000       1.000000    30135.000000    30189.000000
25%      2001.000000       1.000000    30721.000000    30994.000000
50%      2008.000000       2.000000    31423.000000    32211.000000
75%      2016.000000       3.000000    32467.000000    33192.000000
max      2024.000000       4.000000    35412.000000    35628.000000

         airportid_1    airportid_2        nsmiles     passengers  \
count  245955.000000  245955.000000  245955.000000  245955.000000
mean    12437.099986   13249.889525    1189.812319     299.476795
std      1431.665257    1425.810159     703.143472     511.389486
min     10135.000000   10466.000000     109.000000       0.000000
25%     11193.000000   12197.000000     626.000000      21.000000
50%     12266.000000   13303.000000    1023.000000     113.000000
75%     13487.000000   14679.000000    1736.000000     339.000000
max     16440.000000   15919.000000    2724.000000    8301.000000

                fare       large_ms        fare_lg          lf_ms  \
count  245955.000000  244415.000000  244415.000000  244343.000000
mean      218.979587       0.665252     218.710963       0.450438
std        82.372486       0.224635      84.674363       0.332669
min        50.000000       0.003800      50.000000       0.010000
25%       164.620000       0.480000     161.500000       0.158000
50%       209.320000       0.652400     208.030000       0.360000
75%       262.890000       0.871900     263.640000       0.750000
max      3377.000000       1.000000    2725.600000       1.000000

            fare_low
count  244343.000000
mean      190.675939
std        73.577694
min        50.000000
25%       140.060000
50%       181.630000
75%       230.040000
max      2725.600000

=== CATEGORICAL COLUMNS ===
Categorical columns:
tbl: 2 unique values
  Values: ['Table1a' 'Table 1a']

city1: 141 unique values

city2: 128 unique values

airport_1: 187 unique values

airport_2: 173 unique values

carrier_lg: 67 unique values

carrier_low: 71 unique values

Geocoded_City1: 238 unique values

Geocoded_City2: 207 unique values

tbl1apk: 245955 unique values

In [10]:
# Data Quality Assessment - Duplicates
print("=== DUPLICATE ANALYSIS ===")
print(f"Total duplicate rows: {df.duplicated().sum()}")
print(f"Percentage of duplicates: {(df.duplicated().sum() / len(df)) * 100:.2f}%")

# Check for duplicates based on key columns
key_columns = ['Year', 'quarter', 'city1', 'city2', 'airport_1', 'airport_2', 'fare']
duplicates_key = df.duplicated(subset=key_columns).sum()
print(f"Duplicates based on key columns {key_columns}: {duplicates_key}")
print(f"Percentage: {(duplicates_key / len(df)) * 100:.2f}%")

if duplicates_key > 0:
    print("\nSample duplicate rows:")
    duplicate_rows = df[df.duplicated(subset=key_columns, keep=False)]
    print(duplicate_rows.head(10))

=== DUPLICATE ANALYSIS ===
Total duplicate rows: 0
Percentage of duplicates: 0.00%
Duplicates based on key columns ['Year', 'quarter', 'city1', 'city2', 'airport_1', 'airport_2', 'fare']: 0
Percentage: 0.00%

In [11]:
# Data Quality Assessment - Outliers in Fare
import numpy as np

print("=== OUTLIER ANALYSIS - FARE ===")
fare_stats = df['fare'].describe()
print("Fare statistics:")
print(fare_stats)

# IQR method for outlier detection
Q1 = df['fare'].quantile(0.25)
Q3 = df['fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['fare'] < lower_bound) | (df['fare'] > upper_bound)]
print(f"\nOutliers (IQR method):")
print(f"Lower bound: {lower_bound:.2f}")
print(f"Upper bound: {upper_bound:.2f}")
print(f"Number of outliers: {len(outliers)}")
print(f"Percentage of outliers: {(len(outliers) / len(df)) * 100:.2f}%")

# Show some extreme values
print(f"\nExtreme fare values:")
print(f"Minimum fare: ${df['fare'].min():.2f}")
print(f"Maximum fare: ${df['fare'].max():.2f}")
print(f"Mean fare: ${df['fare'].mean():.2f}")
print(f"Median fare: ${df['fare'].median():.2f}")

=== OUTLIER ANALYSIS - FARE ===
Fare statistics:
count    245955.000000
mean        218.979587
std          82.372486
min          50.000000
25%         164.620000
50%         209.320000
75%         262.890000
max        3377.000000
Name: fare, dtype: float64

Outliers (IQR method):
Lower bound: 17.22
Upper bound: 410.29
Number of outliers: 4757
Percentage of outliers: 1.93%

Extreme fare values:
Minimum fare: $50.00
Maximum fare: $3377.00
Mean fare: $218.98
Median fare: $209.32

In [12]:
# Data Consistency Check
print("=== DATA CONSISTENCY CHECK ===")

# Check for negative fares
negative_fares = df[df['fare'] < 0]
print(f"Negative fares: {len(negative_fares)}")

# Check for zero fares
zero_fares = df[df['fare'] == 0]
print(f"Zero fares: {len(zero_fares)}")

# Check year range
print(f"\nYear range: {df['Year'].min()} - {df['Year'].max()}")
print(f"Unique years: {sorted(df['Year'].unique())}")

# Check quarter values
print(f"\nQuarter values: {sorted(df['quarter'].unique())}")

# Check for inconsistent quarter values
invalid_quarters = df[(df['quarter'] < 1) | (df['quarter'] > 4)]
print(f"Invalid quarter values: {len(invalid_quarters)}")

# Check for missing airport codes
missing_airport1 = df['airport_1'].isnull().sum()
missing_airport2 = df['airport_2'].isnull().sum()
print(f"\nMissing airport_1 codes: {missing_airport1}")
print(f"Missing airport_2 codes: {missing_airport2}")

# Check for missing city names
missing_city1 = df['city1'].isnull().sum()
missing_city2 = df['city2'].isnull().sum()
print(f"Missing city1 names: {missing_city1}")
print(f"Missing city2 names: {missing_city2}")

=== DATA CONSISTENCY CHECK ===
Negative fares: 0
Zero fares: 0

Year range: 1993 - 2024
Unique years: [1993, 1994, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

Quarter values: [1, 2, 3, 4]
Invalid quarter values: 0

Missing airport_1 codes: 0
Missing airport_2 codes: 0
Missing city1 names: 0
Missing city2 names: 0

In [13]:
# Temporal Analysis - Year and Quarter Trends
print("=== TEMPORAL ANALYSIS ===")

# Year distribution
print("Year distribution:")
year_counts = df['Year'].value_counts().sort_index()
print(year_counts)

# Quarter distribution
print("\nQuarter distribution:")
quarter_counts = df['quarter'].value_counts().sort_index()
print(quarter_counts)

# Year-Quarter combinations
print("\nYear-Quarter combinations:")
year_quarter = df.groupby(['Year', 'quarter']).size().reset_index(name='count')
print(year_quarter.head(20))

# Check for missing year-quarter combinations
all_years = range(df['Year'].min(), df['Year'].max() + 1)
all_quarters = [1, 2, 3, 4]
expected_combinations = [(year, quarter) for year in all_years for quarter in all_quarters]
actual_combinations = set(zip(df['Year'], df['quarter']))
missing_combinations = set(expected_combinations) - actual_combinations

print(f"\nMissing year-quarter combinations: {len(missing_combinations)}")
if missing_combinations:
    print("Missing combinations:")
    for combo in sorted(missing_combinations):
        print(f"  {combo[0]} Q{combo[1]}")

=== TEMPORAL ANALYSIS ===
Year distribution:
Year
1993    9739
1994    2454
1996    9081
1997    8949
1998    8708
1999    8757
2000    8541
2001    8648
2002    8589
2003    8488
2004    8466
2005    8365
2006    8200
2007    7997
2008    8107
2009    8109
2010    8113
2011    8144
2012    8238
2013    8301
2014    8229
2015    8150
2016    8227
2017    8232
2018    8195
2019    8148
2020    7520
2021    7758
2022    7809
2023    7788
2024    1905
Name: count, dtype: int64

Quarter distribution:
quarter
1    63894
2    60587
3    61204
4    60270
Name: count, dtype: int64

Year-Quarter combinations:
    Year  quarter  count
0   1993        1   2395
1   1993        2   2459
2   1993        3   2448
3   1993        4   2437
4   1994        1   2454
5   1996        1   2270
6   1996        2   2317
7   1996        3   2266
8   1996        4   2228
9   1997        1   2243
10  1997        2   2229
11  1997        3   2252
12  1997        4   2225
13  1998        1   2091
14  1998        2   2180
15  1998        3   2245
16  1998        4   2192
17  1999        1   2210
18  1999        2   2203
19  1999        3   2211

Missing year-quarter combinations: 10
Missing combinations:
  1994 Q2
  1994 Q3
  1994 Q4
  1995 Q1
  1995 Q2
  1995 Q3
  1995 Q4
  2024 Q2
  2024 Q3
  2024 Q4

In [14]:
# Fare Trends Over Time
print("=== FARE TRENDS OVER TIME ===")

# Average fare by year
yearly_fare = df.groupby('Year')['fare'].agg(['mean', 'median', 'std', 'count']).round(2)
print("Yearly fare statistics:")
print(yearly_fare)

# Average fare by quarter
quarterly_fare = df.groupby('quarter')['fare'].agg(['mean', 'median', 'std', 'count']).round(2)
print("\nQuarterly fare statistics:")
print(quarterly_fare)

# Year-Quarter fare analysis
year_quarter_fare = df.groupby(['Year', 'quarter'])['fare'].agg(['mean', 'median', 'count']).round(2)
print("\nYear-Quarter fare analysis (first 20 rows):")
print(year_quarter_fare.head(20))

# Fare growth rate
if len(yearly_fare) > 1:
    first_year_avg = yearly_fare.iloc[0]['mean']
    last_year_avg = yearly_fare.iloc[-1]['mean']
    growth_rate = ((last_year_avg - first_year_avg) / first_year_avg) * 100
    print(f"\nFare growth from {yearly_fare.index[0]} to {yearly_fare.index[-1]}: {growth_rate:.2f}%")

=== FARE TRENDS OVER TIME ===
Yearly fare statistics:
        mean  median     std  count
Year
1993  214.47  206.49   83.63   9739
1994  217.61  204.42   98.20   2454
1996  204.90  188.29  101.59   9081
1997  208.11  190.76  106.46   8949
1998  210.45  192.66  102.74   8708
1999  209.82  190.27  100.02   8757
2000  218.79  198.66  101.81   8541
2001  200.86  183.93   95.00   8648
2002  193.81  183.46   77.22   8589
2003  197.28  188.60   77.95   8488
2004  189.02  181.68   70.12   8466
2005  186.99  184.51   59.14   8365
2006  205.20  200.41   66.29   8200
2007  202.89  196.90   67.91   7997
2008  220.25  212.52   77.98   8107
2009  195.41  190.52   62.52   8109
2010  213.12  210.17   63.19   8113
2011  232.02  226.62   68.14   8144
2012  241.11  234.96   75.31   8238
2013  244.91  239.04   72.31   8301
2014  251.66  246.35   72.38   8229
2015  247.99  242.33   73.94   8150
2016  240.55  238.56   70.82   8227
2017  240.10  236.74   74.14   8232
2018  239.81  234.91   69.74   8195
2019  241.18  235.04   68.33   8148
2020  193.62  185.75   62.46   7520
2021  206.35  198.18   66.23   7758
2022  249.67  234.00   89.72   7809
2023  249.93  238.60   79.29   7788
2024  257.24  244.67   86.12   1905

Quarterly fare statistics:
           mean  median    std  count
quarter
1        221.49  210.32  85.62  63894
2        221.08  211.37  82.99  60587
3        216.69  208.12  81.00  61204
4        216.53  207.44  79.43  60270

Year-Quarter fare analysis (first 20 rows):
                mean  median  count
Year quarter
1993 1        236.60  226.98   2395
     2        209.42  202.56   2459
     3        198.87  193.22   2448
     4        213.50  203.63   2437
1994 1        217.61  204.42   2454
1996 1        210.39  191.78   2270
     2        202.46  185.00   2317
     3        201.07  186.75   2266
     4        205.74  189.12   2228
1997 1        211.33  192.33   2243
     2        207.31  191.57   2229
     3        203.95  189.20   2252
     4        209.85  190.30   2225
1998 1        222.97  199.38   2091
     2        212.17  193.60   2180
     3        204.14  189.75   2245
     4        203.27  189.17   2192
1999 1        216.55  196.67   2210
     2        214.15  190.62   2203
     3        207.23  191.90   2211

Fare growth from 1993 to 2024: 19.94%

In [15]:
# Geographic Analysis - Cities and Airports
print("=== GEOGRAPHIC ANALYSIS ===")

# Top cities by flight count
print("Top 20 cities by flight count:")
city1_counts = df['city1'].value_counts()
city2_counts = df['city2'].value_counts()

# Combine both origin and destination cities
all_cities = pd.concat([df['city1'], df['city2']])
city_totals = all_cities.value_counts()
print(city_totals.head(20))

# Top airports by flight count
print("\nTop 20 airports by flight count:")
airport1_counts = df['airport_1'].value_counts()
airport2_counts = df['airport_2'].value_counts()

# Combine both origin and destination airports
all_airports = pd.concat([df['airport_1'], df['airport_2']])
airport_totals = all_airports.value_counts()
print(airport_totals.head(20))

# Unique counts
print(f"\nUnique cities: {all_cities.nunique()}")
print(f"Unique airports: {all_airports.nunique()}")
print(f"Unique city pairs: {df.groupby(['city1', 'city2']).size().shape[0]}")
print(f"Unique airport pairs: {df.groupby(['airport_1', 'airport_2']).size().shape[0]}")

=== GEOGRAPHIC ANALYSIS ===
Top 20 cities by flight count:
New York City, NY (Metropolitan Area)    60088
Los Angeles, CA (Metropolitan Area)      47530
Washington, DC (Metropolitan Area)       32015
San Francisco, CA (Metropolitan Area)    25441
Boston, MA (Metropolitan Area)           24531
Chicago, IL                              21192
Houston, TX                              19974
Dallas/Fort Worth, TX                    19095
Miami, FL (Metropolitan Area)            16971
Cleveland, OH (Metropolitan Area)        10779
Tampa, FL (Metropolitan Area)             9706
Phoenix, AZ                               7581
Norfolk, VA (Metropolitan Area)           7403
Detroit, MI                               5000
Kansas City, MO                           4791
Las Vegas, NV                             4408
Orlando, FL                               4396
Atlanta, GA (Metropolitan Area)           4227
Columbus, OH                              4207
Seattle, WA                               4164
Name: count, dtype: int64

Top 20 airports by flight count:
DCA    10394
LGA    10376
BWI    10348
EWR    10315
DFW    10248
IAD    10179
JFK    10158
ORD    10138
MDW     9965
LAX     9924
SNA     9752
ONT     9743
HPN     9686
ISP     9530
BUR     9499
DAL     8839
IAH     8726
HOU     8698
SWF     8672
LGB     8612
Name: count, dtype: int64

Unique cities: 171
Unique airports: 220
Unique city pairs: 1266
Unique airport pairs: 4069

In [16]:
# Route Analysis - Popular Routes
print("=== ROUTE ANALYSIS ===")

# Most popular routes (city pairs)
print("Top 20 most popular routes (city pairs):")
route_counts = df.groupby(['city1', 'city2']).size().reset_index(name='flight_count')
route_counts = route_counts.sort_values('flight_count', ascending=False)
print(route_counts.head(20))

# Most popular routes (airport pairs)
print("\nTop 20 most popular routes (airport pairs):")
airport_route_counts = df.groupby(['airport_1', 'airport_2']).size().reset_index(name='flight_count')
airport_route_counts = airport_route_counts.sort_values('flight_count', ascending=False)
print(airport_route_counts.head(20))

# Bidirectional routes (check if A->B and B->A both exist)
print("\nBidirectional route analysis:")
df['route_key'] = df.apply(lambda x: tuple(sorted([x['city1'], x['city2']])), axis=1)
bidirectional_routes = df.groupby('route_key').size()
bidirectional_count = (bidirectional_routes > 1).sum()
print(f"Routes with bidirectional traffic: {bidirectional_count}")

# Average fare by route
print("\nTop 20 most expensive routes (by average fare):")
route_fares = df.groupby(['city1', 'city2'])['fare'].agg(['mean', 'count']).round(2)
route_fares = route_fares[route_fares['count'] >= 5]  # Filter routes with at least 5 flights
route_fares = route_fares.sort_values('mean', ascending=False)
print(route_fares.head(20))

=== ROUTE ANALYSIS ===
Top 20 most popular routes (city pairs):
                                      city1  \
911     Los Angeles, CA (Metropolitan Area)
1087  New York City, NY (Metropolitan Area)
1102  New York City, NY (Metropolitan Area)
944     Los Angeles, CA (Metropolitan Area)
163          Boston, MA (Metropolitan Area)
932     Los Angeles, CA (Metropolitan Area)
748                             Houston, TX
174          Boston, MA (Metropolitan Area)
314                             Chicago, IL
978           Miami, FL (Metropolitan Area)
391       Cleveland, OH (Metropolitan Area)
737                             Houston, TX
1067  New York City, NY (Metropolitan Area)
305                             Chicago, IL
498                   Dallas/Fort Worth, TX
904     Los Angeles, CA (Metropolitan Area)
201          Boston, MA (Metropolitan Area)
1236  San Francisco, CA (Metropolitan Area)
383       Cleveland, OH (Metropolitan Area)
485                   Dallas/Fort Worth, TX

                                      city2  flight_count
911   New York City, NY (Metropolitan Area)          3221
1087  San Francisco, CA (Metropolitan Area)          2102
1102     Washington, DC (Metropolitan Area)          1991
944      Washington, DC (Metropolitan Area)          1818
163     Los Angeles, CA (Metropolitan Area)          1705
932   San Francisco, CA (Metropolitan Area)          1629
748   New York City, NY (Metropolitan Area)          1507
174   New York City, NY (Metropolitan Area)          1491
314   New York City, NY (Metropolitan Area)          1472
978   New York City, NY (Metropolitan Area)          1438
391   New York City, NY (Metropolitan Area)          1368
737     Los Angeles, CA (Metropolitan Area)          1290
1067        Norfolk, VA (Metropolitan Area)          1267
305     Los Angeles, CA (Metropolitan Area)          1222
498   New York City, NY (Metropolitan Area)          1205
904           Miami, FL (Metropolitan Area)          1177
201      Washington, DC (Metropolitan Area)          1104
1236     Washington, DC (Metropolitan Area)          1104
383     Los Angeles, CA (Metropolitan Area)          1085
485     Los Angeles, CA (Metropolitan Area)          1073

Top 20 most popular routes (airport pairs):
     airport_1 airport_2  flight_count
2959       MHT       SAN           118
1013       CLT       ISP           118
1022       CLT       MIA           118
1021       CLT       MDW           118
2953       MHT       PIT           118
2954       MHT       RDU           118
1017       CLT       LGA           118
1016       CLT       LAX           118
2955       MHT       RIC           118
1014       CLT       JFK           118
1012       CLT       IAH           118
2951       MHT       PHL           118
1011       CLT       IAD           118
1010       CLT       HPN           118
1009       CLT       HOU           118
1008       CLT       FLL           118
1007       CLT       EWR           118
1824       FLL       OAK           118
2958       MHT       RSW           118
2009       HOU       MAF           118

Bidirectional route analysis:
Routes with bidirectional traffic: 1194

Top 20 most expensive routes (by average fare):
                                                                               mean  \
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)          430.64
Jackson, WY                           New York City, NY (Metropolitan Area)  425.31
Aspen, CO                             New York City, NY (Metropolitan Area)  418.62
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)    372.23
Bozeman, MT                           New York City, NY (Metropolitan Area)  365.01
Eagle, CO                             New York City, NY (Metropolitan Area)  364.07
New York City, NY (Metropolitan Area) Palm Springs, CA                       355.13
Chicago, IL                           Key West, FL                           349.18
Hartford, CT                          Minneapolis/St. Paul, MN               345.91
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)  334.98
Rochester, NY                         San Francisco, CA (Metropolitan Area)  333.51
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)    333.16
Los Angeles, CA (Metropolitan Area)   Savannah, GA                           332.90
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)  331.23
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)    329.82
Charlotte, NC                         San Francisco, CA (Metropolitan Area)  329.45
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)        327.05
Fayetteville, AR                      New York City, NY (Metropolitan Area)  325.50
Los Angeles, CA (Metropolitan Area)   Richmond, VA                           322.74
Bozeman, MT                           Washington, DC (Metropolitan Area)     322.45

                                                                             count
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)             30
Jackson, WY                           New York City, NY (Metropolitan Area)    131
Aspen, CO                             New York City, NY (Metropolitan Area)    141
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)       30
Bozeman, MT                           New York City, NY (Metropolitan Area)     64
Eagle, CO                             New York City, NY (Metropolitan Area)    152
New York City, NY (Metropolitan Area) Palm Springs, CA                         297
Chicago, IL                           Key West, FL                               8
Hartford, CT                          Minneapolis/St. Paul, MN                   8
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)    354
Rochester, NY                         San Francisco, CA (Metropolitan Area)     84
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)      582
Los Angeles, CA (Metropolitan Area)   Savannah, GA                              49
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)   2102
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)      145
Charlotte, NC                         San Francisco, CA (Metropolitan Area)    354
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)         1063
Fayetteville, AR                      New York City, NY (Metropolitan Area)    398
Los Angeles, CA (Metropolitan Area)   Richmond, VA                             482
Bozeman, MT                           Washington, DC (Metropolitan Area)        12

In [17]:
# Fare Analysis - Pricing Patterns
print("=== FARE ANALYSIS ===")

# Fare distribution
print("Fare distribution analysis:")
fare_percentiles = df['fare'].quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])
print("Fare percentiles:")
for p, value in fare_percentiles.items():
    print(f"{p*100:4.0f}th percentile: ${value:.2f}")

# Fare by distance (if available)
if 'distance' in df.columns:
    print("\nFare vs Distance analysis:")
    fare_distance = df[['fare', 'distance']].corr()
    print(f"Correlation between fare and distance: {fare_distance.iloc[0,1]:.3f}")
    
    # Average fare by distance ranges
    df['distance_range'] = pd.cut(df['distance'], bins=5, labels=['Very Short', 'Short', 'Medium', 'Long', 'Very Long'])
    distance_fare = df.groupby('distance_range')['fare'].agg(['mean', 'median', 'count']).round(2)
    print("\nFare by distance range:")
    print(distance_fare)

# Fare by carrier type
print("\nFare analysis by carrier type:")
if 'carrier_lg' in df.columns and 'carrier_low' in df.columns:
    # Large carrier fares
    large_carrier_fares = df[df['carrier_lg'].notna()]['fare_lg']
    low_carrier_fares = df[df['carrier_low'].notna()]['fare_low']
    
    print(f"Large carrier average fare: ${large_carrier_fares.mean():.2f}")
    print(f"Low-cost carrier average fare: ${low_carrier_fares.mean():.2f}")
    print(f"Price difference: ${large_carrier_fares.mean() - low_carrier_fares.mean():.2f}")
    print(f"Price difference percentage: {((large_carrier_fares.mean() - low_carrier_fares.mean()) / low_carrier_fares.mean()) * 100:.1f}%")

=== FARE ANALYSIS ===
Fare distribution analysis:
Fare percentiles:
  10th percentile: $127.66
  25th percentile: $164.62
  50th percentile: $209.32
  75th percentile: $262.89
  90th percentile: $316.77
  95th percentile: $354.20
  99th percentile: $456.54

Fare analysis by carrier type:
Large carrier average fare: $218.71
Low-cost carrier average fare: $190.68
Price difference: $28.04
Price difference percentage: 14.7%

In [18]:
# Fare Seasonality Analysis
print("=== FARE SEASONALITY ANALYSIS ===")

# Quarterly fare patterns
quarterly_fare_stats = df.groupby('quarter')['fare'].agg(['mean', 'median', 'std', 'count']).round(2)
print("Quarterly fare statistics:")
print(quarterly_fare_stats)

# Identify seasonal patterns
if len(quarterly_fare_stats) > 0:
    q1_avg = quarterly_fare_stats.loc[1, 'mean']
    q2_avg = quarterly_fare_stats.loc[2, 'mean'] 
    q3_avg = quarterly_fare_stats.loc[3, 'mean']
    q4_avg = quarterly_fare_stats.loc[4, 'mean']
    
    print(f"\nSeasonal fare comparison:")
    print(f"Q1 (Winter) average: ${q1_avg:.2f}")
    print(f"Q2 (Spring) average: ${q2_avg:.2f}")
    print(f"Q3 (Summer) average: ${q3_avg:.2f}")
    print(f"Q4 (Fall) average: ${q4_avg:.2f}")
    
    # Find highest and lowest fare quarters
    max_quarter = quarterly_fare_stats['mean'].idxmax()
    min_quarter = quarterly_fare_stats['mean'].idxmin()
    print(f"\nHighest fare quarter: Q{max_quarter} (${quarterly_fare_stats.loc[max_quarter, 'mean']:.2f})")
    print(f"Lowest fare quarter: Q{min_quarter} (${quarterly_fare_stats.loc[min_quarter, 'mean']:.2f})")
    
    seasonal_variation = ((quarterly_fare_stats['mean'].max() - quarterly_fare_stats['mean'].min()) / quarterly_fare_stats['mean'].min()) * 100
    print(f"Seasonal variation: {seasonal_variation:.1f}%")

=== FARE SEASONALITY ANALYSIS ===
Quarterly fare statistics:
           mean  median    std  count
quarter
1        221.49  210.32  85.62  63894
2        221.08  211.37  82.99  60587
3        216.69  208.12  81.00  61204
4        216.53  207.44  79.43  60270

Seasonal fare comparison:
Q1 (Winter) average: $221.49
Q2 (Spring) average: $221.08
Q3 (Summer) average: $216.69
Q4 (Fall) average: $216.53

Highest fare quarter: Q1 ($221.49)
Lowest fare quarter: Q4 ($216.53)
Seasonal variation: 2.3%

In [19]:
# Carrier Analysis - Market Share and Performance
print("=== CARRIER ANALYSIS ===")

# Large carrier analysis
if 'carrier_lg' in df.columns:
    print("Large carrier analysis:")
    large_carrier_stats = df.groupby('carrier_lg').agg({
        'fare_lg': ['mean', 'median', 'count'],
        'large_ms': 'mean'
    }).round(2)
    large_carrier_stats.columns = ['avg_fare', 'median_fare', 'flight_count', 'avg_market_share']
    large_carrier_stats = large_carrier_stats.sort_values('flight_count', ascending=False)
    print(large_carrier_stats.head(10))

# Low-cost carrier analysis
if 'carrier_low' in df.columns:
    print("\nLow-cost carrier analysis:")
    low_carrier_stats = df.groupby('carrier_low').agg({
        'fare_low': ['mean', 'median', 'count'],
        'lf_ms': 'mean'
    }).round(2)
    low_carrier_stats.columns = ['avg_fare', 'median_fare', 'flight_count', 'avg_load_factor']
    low_carrier_stats = low_carrier_stats.sort_values('flight_count', ascending=False)
    print(low_carrier_stats.head(10))

# Market share analysis
print("\nMarket share analysis:")
if 'large_ms' in df.columns:
    avg_market_share = df['large_ms'].mean()
    print(f"Average large carrier market share: {avg_market_share:.3f}")

if 'lf_ms' in df.columns:
    avg_load_factor = df['lf_ms'].mean()
    print(f"Average load factor: {avg_load_factor:.3f}")

# Carrier competition analysis
print("\nCarrier competition analysis:")
if 'carrier_lg' in df.columns and 'carrier_low' in df.columns:
    # Routes with both large and low-cost carriers
    competition_routes = df[(df['carrier_lg'].notna()) & (df['carrier_low'].notna())]
    print(f"Routes with both large and low-cost carriers: {len(competition_routes)}")
    
    if len(competition_routes) > 0:
        price_competition = competition_routes['fare_lg'] - competition_routes['fare_low']
        print(f"Average price difference (large - low-cost): ${price_competition.mean():.2f}")
        print(f"Median price difference: ${price_competition.median():.2f}")

=== CARRIER ANALYSIS ===
Large carrier analysis:
            avg_fare  median_fare  flight_count  avg_market_share
carrier_lg
WN            190.02       186.64         58999              0.74
AA            251.52       240.80         45828              0.64
DL            240.18       226.72         34088              0.60
UA            259.70       247.22         29820              0.60
US            217.84       206.18         25836              0.69
CO            206.25       195.24         14415              0.74
NW            217.03       208.27          7173              0.57
B6            185.38       176.80          6137              0.70
AS            179.41       167.75          4125              0.63
HP            188.34       183.47          3721              0.59

Low-cost carrier analysis:
             avg_fare  median_fare  flight_count  avg_load_factor
carrier_low
WN             186.97       183.79         56027             0.61
AA             222.00       210.86         36189             0.48
DL             205.57       194.08         29949             0.36
US             203.28       192.97         24811             0.47
UA             216.99       206.64         20847             0.38
CO             182.49       174.81         15936             0.44
NW             175.50       164.50          9728             0.25
FL             144.69       140.90          7544             0.32
HP             181.94       176.39          6973             0.34
B6             177.43       168.41          6820             0.50

Market share analysis:
Average large carrier market share: 0.665
Average load factor: 0.450

Carrier competition analysis:
Routes with both large and low-cost carriers: 244343
Average price difference (large - low-cost): $28.04
Median price difference: $2.50

In [20]:
# Carrier Trends Over Time
print("=== CARRIER TRENDS OVER TIME ===")

# Large carrier market share over time
if 'carrier_lg' in df.columns and 'large_ms' in df.columns:
    print("Large carrier market share trends:")
    yearly_market_share = df.groupby('Year')['large_ms'].agg(['mean', 'median', 'std']).round(3)
    print(yearly_market_share)
    
    # Market share growth
    if len(yearly_market_share) > 1:
        first_year_share = yearly_market_share.iloc[0]['mean']
        last_year_share = yearly_market_share.iloc[-1]['mean']
        share_change = last_year_share - first_year_share
        print(f"\nMarket share change from {yearly_market_share.index[0]} to {yearly_market_share.index[-1]}: {share_change:.3f}")

# Load factor trends over time
if 'lf_ms' in df.columns:
    print("\nLoad factor trends:")
    yearly_load_factor = df.groupby('Year')['lf_ms'].agg(['mean', 'median', 'std']).round(3)
    print(yearly_load_factor)
    
    # Load factor growth
    if len(yearly_load_factor) > 1:
        first_year_lf = yearly_load_factor.iloc[0]['mean']
        last_year_lf = yearly_load_factor.iloc[-1]['mean']
        lf_change = last_year_lf - first_year_lf
        print(f"\nLoad factor change from {yearly_load_factor.index[0]} to {yearly_load_factor.index[-1]}: {lf_change:.3f}")

# Carrier performance by quarter
print("\nCarrier performance by quarter:")
if 'large_ms' in df.columns:
    quarterly_market_share = df.groupby('quarter')['large_ms'].mean().round(3)
    print("Quarterly market share:")
    print(quarterly_market_share)

if 'lf_ms' in df.columns:
    quarterly_load_factor = df.groupby('quarter')['lf_ms'].mean().round(3)
    print("\nQuarterly load factor:")
    print(quarterly_load_factor)

=== CARRIER TRENDS OVER TIME ===
Large carrier market share trends:
       mean  median    std
Year
1993  0.652   0.640  0.224
1994  0.646   0.640  0.220
1996  0.629   0.610  0.229
1997  0.634   0.630  0.233
1998  0.663   0.660  0.229
1999  0.656   0.640  0.231
2000  0.638   0.620  0.228
2001  0.631   0.610  0.230
2002  0.640   0.620  0.230
2003  0.641   0.620  0.228
2004  0.638   0.620  0.225
2005  0.634   0.620  0.225
2006  0.645   0.640  0.227
2007  0.649   0.640  0.231
2008  0.658   0.650  0.231
2009  0.656   0.650  0.232
2010  0.664   0.660  0.226
2011  0.661   0.650  0.221
2012  0.673   0.660  0.215
2013  0.675   0.660  0.217
2014  0.663   0.650  0.215
2015  0.666   0.650  0.214
2016  0.695   0.685  0.212
2017  0.699   0.687  0.213
2018  0.699   0.686  0.213
2019  0.705   0.693  0.212
2020  0.726   0.730  0.213
2021  0.710   0.704  0.215
2022  0.701   0.690  0.220
2023  0.708   0.698  0.220
2024  0.713   0.702  0.216

Market share change from 1993 to 2024: 0.061

Load factor trends:
       mean  median    std
Year
1993  0.430   0.330  0.330
1994  0.431   0.350  0.323
1996  0.413   0.320  0.322
1997  0.421   0.330  0.326
1998  0.439   0.340  0.337
1999  0.437   0.330  0.336
2000  0.408   0.300  0.325
2001  0.403   0.290  0.322
2002  0.412   0.300  0.326
2003  0.418   0.310  0.326
2004  0.422   0.320  0.321
2005  0.417   0.320  0.320
2006  0.421   0.320  0.326
2007  0.430   0.330  0.331
2008  0.431   0.320  0.334
2009  0.413   0.290  0.335
2010  0.424   0.310  0.333
2011  0.425   0.330  0.326
2012  0.436   0.330  0.328
2013  0.454   0.360  0.332
2014  0.442   0.350  0.323
2015  0.452   0.370  0.323
2016  0.504   0.443  0.330
2017  0.517   0.471  0.331
2018  0.514   0.467  0.331
2019  0.518   0.474  0.333
2020  0.531   0.500  0.345
2021  0.516   0.466  0.341
2022  0.515   0.464  0.338
2023  0.523   0.478  0.341
2024  0.508   0.455  0.343

Load factor change from 1993 to 2024: 0.078

Carrier performance by quarter:
Quarterly market share:
quarter
1    0.667
2    0.664
3    0.665
4    0.666
Name: large_ms, dtype: float64

Quarterly load factor:
quarter
1    0.448
2    0.452
3    0.454
4    0.447
Name: lf_ms, dtype: float64

In [21]:
# Route Characteristics Analysis
print("=== ROUTE CHARACTERISTICS ANALYSIS ===")

# Route frequency distribution
print("Route frequency distribution:")
route_frequencies = df.groupby(['city1', 'city2']).size()
frequency_distribution = route_frequencies.value_counts().sort_index()
print("Number of routes by frequency:")
print(frequency_distribution.head(20))

# Route diversity analysis
print(f"\nRoute diversity metrics:")
print(f"Total unique routes: {len(route_frequencies)}")
print(f"Routes with 1 flight: {(route_frequencies == 1).sum()}")
print(f"Routes with 2-5 flights: {((route_frequencies >= 2) & (route_frequencies <= 5)).sum()}")
print(f"Routes with 6-20 flights: {((route_frequencies >= 6) & (route_frequencies <= 20)).sum()}")
print(f"Routes with 21+ flights: {(route_frequencies >= 21).sum()}")

# Most and least frequent routes
print(f"\nMost frequent routes:")
most_frequent = route_frequencies.nlargest(10)
for route, count in most_frequent.items():
    print(f"{route[0]} -> {route[1]}: {count} flights")

print(f"\nLeast frequent routes (sample):")
least_frequent = route_frequencies.nsmallest(10)
for route, count in least_frequent.items():
    print(f"{route[0]} -> {route[1]}: {count} flights")

# Route stability over time
print(f"\nRoute stability analysis:")
# Routes that appear in multiple years
route_years = df.groupby(['city1', 'city2'])['Year'].nunique()
stable_routes = route_years[route_years > 1]
print(f"Routes appearing in multiple years: {len(stable_routes)}")
print(f"Most stable routes (appearing in most years):")
most_stable = stable_routes.nlargest(10)
for route, years in most_stable.items():
    print(f"{route[0]} -> {route[1]}: {years} years")

=== ROUTE CHARACTERISTICS ANALYSIS ===
Route frequency distribution:
Number of routes by frequency:
1     72
2     69
3     61
4     39
5     18
6     26
7     30
8     20
9      7
10    11
11     3
12    14
13     4
14    13
15     2
16     7
17     3
18    10
19     3
20     4
Name: count, dtype: int64

Route diversity metrics:
Total unique routes: 1266
Routes with 1 flight: 72
Routes with 2-5 flights: 187
Routes with 6-20 flights: 157
Routes with 21+ flights: 850

Most frequent routes:
Los Angeles, CA (Metropolitan Area) -> New York City, NY (Metropolitan Area): 3221 flights
New York City, NY (Metropolitan Area) -> San Francisco, CA (Metropolitan Area): 2102 flights
New York City, NY (Metropolitan Area) -> Washington, DC (Metropolitan Area): 1991 flights
Los Angeles, CA (Metropolitan Area) -> Washington, DC (Metropolitan Area): 1818 flights
Boston, MA (Metropolitan Area) -> Los Angeles, CA (Metropolitan Area): 1705 flights
Los Angeles, CA (Metropolitan Area) -> San Francisco, CA (Metropolitan Area): 1629 flights
Houston, TX -> New York City, NY (Metropolitan Area): 1507 flights
Boston, MA (Metropolitan Area) -> New York City, NY (Metropolitan Area): 1491 flights
Chicago, IL -> New York City, NY (Metropolitan Area): 1472 flights
Miami, FL (Metropolitan Area) -> New York City, NY (Metropolitan Area): 1438 flights

Least frequent routes (sample):
Albuquerque, NM -> Minneapolis/St. Paul, MN: 1 flights
Aspen, CO -> Dallas/Fort Worth, TX: 1 flights
Atlanta, GA (Metropolitan Area) -> Minneapolis/St. Paul, MN: 1 flights
Austin, TX -> Minneapolis/St. Paul, MN: 1 flights
Belleville, IL -> Tampa, FL (Metropolitan Area): 1 flights
Bloomington/Normal, IL -> Orlando, FL: 1 flights
Boston, MA (Metropolitan Area) -> Punta Gorda, FL: 1 flights
Burlington, VT -> Orlando, FL: 1 flights
Charlotte, NC -> Minneapolis/St. Paul, MN: 1 flights
Charlotte, NC -> Seattle, WA: 1 flights

Route stability analysis:
Routes appearing in multiple years: 1114
Most stable routes (appearing in most years):
Albany, NY -> Chicago, IL: 31 years
Albany, NY -> Miami, FL (Metropolitan Area): 31 years
Albany, NY -> Tampa, FL (Metropolitan Area): 31 years
Albany, NY -> Washington, DC (Metropolitan Area): 31 years
Albuquerque, NM -> Chicago, IL: 31 years
Albuquerque, NM -> Dallas/Fort Worth, TX: 31 years
Albuquerque, NM -> Houston, TX: 31 years
Albuquerque, NM -> Los Angeles, CA (Metropolitan Area): 31 years
Albuquerque, NM -> New York City, NY (Metropolitan Area): 31 years
Albuquerque, NM -> San Francisco, CA (Metropolitan Area): 31 years

In [22]:
# Route Performance Analysis
print("=== ROUTE PERFORMANCE ANALYSIS ===")

# Route profitability analysis (using fare as proxy)
route_performance = df.groupby(['city1', 'city2']).agg({
    'fare': ['mean', 'median', 'std', 'count'],
    'Year': 'nunique'
}).round(2)

route_performance.columns = ['avg_fare', 'median_fare', 'fare_std', 'flight_count', 'years_active']
route_performance = route_performance.sort_values('avg_fare', ascending=False)

print("Top 20 most expensive routes (by average fare):")
print(route_performance.head(20))

print("\nTop 20 most affordable routes (by average fare):")
print(route_performance.tail(20))

# Route volume vs fare analysis
print("\nRoute volume vs fare analysis:")
# High volume routes (top 20% by flight count)
volume_threshold = route_performance['flight_count'].quantile(0.8)
high_volume_routes = route_performance[route_performance['flight_count'] >= volume_threshold]
print(f"High volume routes (≥{volume_threshold:.0f} flights): {len(high_volume_routes)}")
print(f"Average fare for high volume routes: ${high_volume_routes['avg_fare'].mean():.2f}")

# Low volume routes (bottom 20% by flight count)
low_volume_threshold = route_performance['flight_count'].quantile(0.2)
low_volume_routes = route_performance[route_performance['flight_count'] <= low_volume_threshold]
print(f"Low volume routes (≤{low_volume_threshold:.0f} flights): {len(low_volume_routes)}")
print(f"Average fare for low volume routes: ${low_volume_routes['avg_fare'].mean():.2f}")

# Route consistency analysis
print("\nRoute fare consistency analysis:")
route_performance['fare_cv'] = route_performance['fare_std'] / route_performance['avg_fare']  # Coefficient of variation
consistent_routes = route_performance[route_performance['fare_cv'] < 0.3]  # Low variation
print(f"Consistent fare routes (CV < 0.3): {len(consistent_routes)}")
print(f"Average fare for consistent routes: ${consistent_routes['avg_fare'].mean():.2f}")

volatile_routes = route_performance[route_performance['fare_cv'] > 0.5]  # High variation
print(f"Volatile fare routes (CV > 0.5): {len(volatile_routes)}")
print(f"Average fare for volatile routes: ${volatile_routes['avg_fare'].mean():.2f}")

=== ROUTE PERFORMANCE ANALYSIS ===
Top 20 most expensive routes (by average fare):
                                                                             avg_fare  \
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)            430.64
Jackson, WY                           New York City, NY (Metropolitan Area)    425.31
Aspen, CO                             New York City, NY (Metropolitan Area)    418.62
                                      Miami, FL (Metropolitan Area)            398.74
El Paso, TX                           Miami, FL (Metropolitan Area)            391.13
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)      372.23
Bozeman, MT                           New York City, NY (Metropolitan Area)    365.01
Eagle, CO                             New York City, NY (Metropolitan Area)    364.07
New York City, NY (Metropolitan Area) Palm Springs, CA                         355.13
Chicago, IL                           Key West, FL                             349.18
Hartford, CT                          Minneapolis/St. Paul, MN                 345.91
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)    334.98
Rochester, NY                         San Francisco, CA (Metropolitan Area)    333.51
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)      333.16
Los Angeles, CA (Metropolitan Area)   Savannah, GA                             332.90
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)    331.23
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)      329.82
Charlotte, NC                         San Francisco, CA (Metropolitan Area)    329.45
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)          327.05
Fayetteville, AR                      New York City, NY (Metropolitan Area)    325.50

                                                                             median_fare  \
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)               415.16
Jackson, WY                           New York City, NY (Metropolitan Area)       425.33
Aspen, CO                             New York City, NY (Metropolitan Area)       390.35
                                      Miami, FL (Metropolitan Area)               398.74
El Paso, TX                           Miami, FL (Metropolitan Area)               391.13
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)         370.40
Bozeman, MT                           New York City, NY (Metropolitan Area)       361.96
Eagle, CO                             New York City, NY (Metropolitan Area)       337.43
New York City, NY (Metropolitan Area) Palm Springs, CA                            348.74
Chicago, IL                           Key West, FL                                329.29
Hartford, CT                          Minneapolis/St. Paul, MN                    343.12
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)       332.60
Rochester, NY                         San Francisco, CA (Metropolitan Area)       338.56
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)         325.96
Los Angeles, CA (Metropolitan Area)   Savannah, GA                                319.85
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)       310.20
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)         319.51
Charlotte, NC                         San Francisco, CA (Metropolitan Area)       320.98
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)             311.62
Fayetteville, AR                      New York City, NY (Metropolitan Area)       321.48

                                                                             fare_std  \
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)             99.71
Jackson, WY                           New York City, NY (Metropolitan Area)     96.86
Aspen, CO                             New York City, NY (Metropolitan Area)    140.59
                                      Miami, FL (Metropolitan Area)             25.35
El Paso, TX                           Miami, FL (Metropolitan Area)              9.73
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)       67.16
Bozeman, MT                           New York City, NY (Metropolitan Area)     99.10
Eagle, CO                             New York City, NY (Metropolitan Area)    118.27
New York City, NY (Metropolitan Area) Palm Springs, CA                         106.40
Chicago, IL                           Key West, FL                              80.51
Hartford, CT                          Minneapolis/St. Paul, MN                  25.86
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)     66.96
Rochester, NY                         San Francisco, CA (Metropolitan Area)     65.43
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)       91.06
Los Angeles, CA (Metropolitan Area)   Savannah, GA                              77.27
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)    137.05
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)      107.41
Charlotte, NC                         San Francisco, CA (Metropolitan Area)     80.32
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)          112.33
Fayetteville, AR                      New York City, NY (Metropolitan Area)     89.10

                                                                             flight_count  \
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)                    30
Jackson, WY                           New York City, NY (Metropolitan Area)           131
Aspen, CO                             New York City, NY (Metropolitan Area)           141
                                      Miami, FL (Metropolitan Area)                     2
El Paso, TX                           Miami, FL (Metropolitan Area)                     2
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)              30
Bozeman, MT                           New York City, NY (Metropolitan Area)            64
Eagle, CO                             New York City, NY (Metropolitan Area)           152
New York City, NY (Metropolitan Area) Palm Springs, CA                                297
Chicago, IL                           Key West, FL                                      8
Hartford, CT                          Minneapolis/St. Paul, MN                          8
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)           354
Rochester, NY                         San Francisco, CA (Metropolitan Area)            84
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)             582
Los Angeles, CA (Metropolitan Area)   Savannah, GA                                     49
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)          2102
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)             145
Charlotte, NC                         San Francisco, CA (Metropolitan Area)           354
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)                1063
Fayetteville, AR                      New York City, NY (Metropolitan Area)           398

                                                                             years_active
city1                                 city2
Eagle, CO                             Miami, FL (Metropolitan Area)                    15
Jackson, WY                           New York City, NY (Metropolitan Area)            17
Aspen, CO                             New York City, NY (Metropolitan Area)            31
                                      Miami, FL (Metropolitan Area)                     1
El Paso, TX                           Miami, FL (Metropolitan Area)                     1
Huntsville, AL                        Los Angeles, CA (Metropolitan Area)               3
Bozeman, MT                           New York City, NY (Metropolitan Area)             9
Eagle, CO                             New York City, NY (Metropolitan Area)            31
New York City, NY (Metropolitan Area) Palm Springs, CA                                 29
Chicago, IL                           Key West, FL                                      3
Hartford, CT                          Minneapolis/St. Paul, MN                          5
Cincinnati, OH                        San Francisco, CA (Metropolitan Area)            31
Rochester, NY                         San Francisco, CA (Metropolitan Area)            18
Cincinnati, OH                        Los Angeles, CA (Metropolitan Area)              31
Los Angeles, CA (Metropolitan Area)   Savannah, GA                                      4
New York City, NY (Metropolitan Area) San Francisco, CA (Metropolitan Area)            31
Fayetteville, AR                      Los Angeles, CA (Metropolitan Area)              17
Charlotte, NC                         San Francisco, CA (Metropolitan Area)            31
Los Angeles, CA (Metropolitan Area)   Norfolk, VA (Metropolitan Area)                  31
Fayetteville, AR                      New York City, NY (Metropolitan Area)            23

Top 20 most affordable routes (by average fare):
                                                                           avg_fare  \
city1                               city2
Kansas City, MO                     Nashville, TN                             89.91
Sacramento, CA                      Spokane, WA                               87.50
Bullhead City, AZ                   San Francisco, CA (Metropolitan Area)     87.31
Las Vegas, NV                       Tucson, AZ                                86.53
Tampa, FL (Metropolitan Area)       West Palm Beach/Palm Beach, FL            85.42
Sacramento, CA                      Seattle, WA                               85.10
Kansas City, MO                     Oklahoma City, OK                         85.09
Fargo, ND                           Minneapolis/St. Paul, MN                  84.45
Phoenix, AZ                         Provo, UT                                 83.65
Chicago, IL                         Lansing, MI                               82.58
Sacramento, CA                      San Diego, CA                             80.38
Kansas City, MO                     St. Louis, MO                             80.09
Los Angeles, CA (Metropolitan Area) Provo, UT                                 79.93
Jacksonville, FL                    Tampa, FL (Metropolitan Area)             79.58
Chicago, IL                         Flint, MI                                 76.81
Kansas City, MO                     Tulsa, OK                                 73.94
Reno, NV                            Seattle, WA                               73.48
Seattle, WA                         Spokane, WA                               72.45
Belleville, IL                      Tampa, FL (Metropolitan Area)             72.15
Atlantic City, NJ                   Detroit, MI                               71.92

                                                                           median_fare  \
city1                               city2
Kansas City, MO                     Nashville, TN                                85.02
Sacramento, CA                      Spokane, WA                                  85.72
Bullhead City, AZ                   San Francisco, CA (Metropolitan Area)        66.36
Las Vegas, NV                       Tucson, AZ                                   88.06
Tampa, FL (Metropolitan Area)       West Palm Beach/Palm Beach, FL               79.82
Sacramento, CA                      Seattle, WA                                  86.98
Kansas City, MO                     Oklahoma City, OK                            86.68
Fargo, ND                           Minneapolis/St. Paul, MN                     84.45
Phoenix, AZ                         Provo, UT                                    85.12
Chicago, IL                         Lansing, MI                                  82.58
Sacramento, CA                      San Diego, CA                                79.23
Kansas City, MO                     St. Louis, MO                                77.04
Los Angeles, CA (Metropolitan Area) Provo, UT                                    82.43
Jacksonville, FL                    Tampa, FL (Metropolitan Area)                76.91
Chicago, IL                         Flint, MI                                    76.81
Kansas City, MO                     Tulsa, OK                                    73.64
Reno, NV                            Seattle, WA                                  73.48
Seattle, WA                         Spokane, WA                                  72.45
Belleville, IL                      Tampa, FL (Metropolitan Area)                72.15
Atlantic City, NJ                   Detroit, MI                                  66.94

                                                                           fare_std  \
city1                               city2
Kansas City, MO                     Nashville, TN                             13.99
Sacramento, CA                      Spokane, WA                                6.98
Bullhead City, AZ                   San Francisco, CA (Metropolitan Area)     41.50
Las Vegas, NV                       Tucson, AZ                                 3.16
Tampa, FL (Metropolitan Area)       West Palm Beach/Palm Beach, FL            12.74
Sacramento, CA                      Seattle, WA                               12.33
Kansas City, MO                     Oklahoma City, OK                          7.52
Fargo, ND                           Minneapolis/St. Paul, MN                    NaN
Phoenix, AZ                         Provo, UT                                  5.85
Chicago, IL                         Lansing, MI                                0.58
Sacramento, CA                      San Diego, CA                             11.76
Kansas City, MO                     St. Louis, MO                             10.72
Los Angeles, CA (Metropolitan Area) Provo, UT                                  8.16
Jacksonville, FL                    Tampa, FL (Metropolitan Area)              8.52
Chicago, IL                         Flint, MI                                 10.01
Kansas City, MO                     Tulsa, OK                                  1.65
Reno, NV                            Seattle, WA                                6.04
Seattle, WA                         Spokane, WA                                3.01
Belleville, IL                      Tampa, FL (Metropolitan Area)               NaN
Atlantic City, NJ                   Detroit, MI                               19.48

                                                                           flight_count  \
city1                               city2
Kansas City, MO                     Nashville, TN                                    36
Sacramento, CA                      Spokane, WA                                      14
Bullhead City, AZ                   San Francisco, CA (Metropolitan Area)             3
Las Vegas, NV                       Tucson, AZ                                        3
Tampa, FL (Metropolitan Area)       West Palm Beach/Palm Beach, FL                   34
Sacramento, CA                      Seattle, WA                                      22
Kansas City, MO                     Oklahoma City, OK                                33
Fargo, ND                           Minneapolis/St. Paul, MN                          1
Phoenix, AZ                         Provo, UT                                        37
Chicago, IL                         Lansing, MI                                       2
Sacramento, CA                      San Diego, CA                                    25
Kansas City, MO                     St. Louis, MO                                    37
Los Angeles, CA (Metropolitan Area) Provo, UT                                         8
Jacksonville, FL                    Tampa, FL (Metropolitan Area)                    32
Chicago, IL                         Flint, MI                                         2
Kansas City, MO                     Tulsa, OK                                         4
Reno, NV                            Seattle, WA                                       2
Seattle, WA                         Spokane, WA                                       2
Belleville, IL                      Tampa, FL (Metropolitan Area)                     1
Atlantic City, NJ                   Detroit, MI                                      14

                                                                           years_active
city1                               city2
Kansas City, MO                     Nashville, TN                                    14
Sacramento, CA                      Spokane, WA                                       5
Bullhead City, AZ                   San Francisco, CA (Metropolitan Area)             1
Las Vegas, NV                       Tucson, AZ                                        2
Tampa, FL (Metropolitan Area)       West Palm Beach/Palm Beach, FL                   12
Sacramento, CA                      Seattle, WA                                       6
Kansas City, MO                     Oklahoma City, OK                                12
Fargo, ND                           Minneapolis/St. Paul, MN                          1
Phoenix, AZ                         Provo, UT                                         8
Chicago, IL                         Lansing, MI                                       1
Sacramento, CA                      San Diego, CA                                     6
Kansas City, MO                     St. Louis, MO                                    14
Los Angeles, CA (Metropolitan Area) Provo, UT                                         2
Jacksonville, FL                    Tampa, FL (Metropolitan Area)                    11
Chicago, IL                         Flint, MI                                         1
Kansas City, MO                     Tulsa, OK                                         2
Reno, NV                            Seattle, WA                                       2
Seattle, WA                         Spokane, WA                                       2
Belleville, IL                      Tampa, FL (Metropolitan Area)                     1
Atlantic City, NJ                   Detroit, MI                                       5

Route volume vs fare analysis:
High volume routes (≥354 flights): 261
Average fare for high volume routes: $225.77
Low volume routes (≤5 flights): 259
Average fare for low volume routes: $175.50

Route fare consistency analysis:
Consistent fare routes (CV < 0.3): 929
Average fare for consistent routes: $201.30
Volatile fare routes (CV > 0.5): 41
Average fare for volatile routes: $186.40

In [23]:
# Visualization Setup
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Set up plotting style
plt.style.use('default')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 8)
plt.rcParams['font.size'] = 10

print("=== VISUALIZATION SETUP COMPLETE ===")
print("Ready to create comprehensive visualizations for the aviation industry analysis")

=== VISUALIZATION SETUP COMPLETE ===
Ready to create comprehensive visualizations for the aviation industry analysis

In [24]:
# Key Insights Summary
print("=== KEY INSIGHTS SUMMARY ===")

# Dataset overview
print(f"📊 Dataset Overview:")
print(f"   • Total records: {df.shape[0]:,}")
print(f"   • Time period: {df['Year'].min()}-{df['Year'].max()}")
print(f"   • Unique routes: {df.groupby(['city1', 'city2']).size().shape[0]:,}")
print(f"   • Unique airports: {pd.concat([df['airport_1'], df['airport_2']]).nunique():,}")

# Fare insights
print(f"\n💰 Fare Insights:")
print(f"   • Average fare: ${df['fare'].mean():.2f}")
print(f"   • Median fare: ${df['fare'].median():.2f}")
print(f"   • Fare range: ${df['fare'].min():.2f} - ${df['fare'].max():.2f}")

# Temporal insights
yearly_flights = df.groupby('Year').size()
print(f"\n📈 Temporal Trends:")
print(f"   • Peak year: {yearly_flights.idxmax()} ({yearly_flights.max():,} flights)")
print(f"   • Lowest year: {yearly_flights.idxmin()} ({yearly_flights.min():,} flights)")

# Geographic insights
top_cities = pd.concat([df['city1'], df['city2']]).value_counts()
print(f"\n🌍 Geographic Insights:")
print(f"   • Most connected city: {top_cities.index[0]} ({top_cities.iloc[0]:,} flights)")
print(f"   • Total unique cities: {len(top_cities):,}")

# Route insights
route_counts = df.groupby(['city1', 'city2']).size()
print(f"\n✈️ Route Insights:")
print(f"   • Most popular route: {route_counts.idxmax()[0]} → {route_counts.idxmax()[1]} ({route_counts.max()} flights)")
print(f"   • Routes with single flight: {(route_counts == 1).sum():,}")

print(f"\n✅ EDA Analysis Complete!")
print(f"   • Data quality assessed")
print(f"   • Temporal patterns identified") 
print(f"   • Geographic distribution analyzed")
print(f"   • Fare patterns examined")
print(f"   • Carrier performance evaluated")
print(f"   • Route characteristics studied")

=== KEY INSIGHTS SUMMARY ===
📊 Dataset Overview:
   • Total records: 245,955
   • Time period: 1993-2024
   • Unique routes: 1,266
   • Unique airports: 220

💰 Fare Insights:
   • Average fare: $218.98
   • Median fare: $209.32
   • Fare range: $50.00 - $3377.00

📈 Temporal Trends:
   • Peak year: 1993 (9,739 flights)
   • Lowest year: 2024 (1,905 flights)

🌍 Geographic Insights:
   • Most connected city: New York City, NY (Metropolitan Area) (60,088 flights)
   • Total unique cities: 171

✈️ Route Insights:
   • Most popular route: Los Angeles, CA (Metropolitan Area) → New York City, NY (Metropolitan Area) (3221 flights)
   • Routes with single flight: 72

✅ EDA Analysis Complete!
   • Data quality assessed
   • Temporal patterns identified
   • Geographic distribution analyzed
   • Fare patterns examined
   • Carrier performance evaluated
   • Route characteristics studied